<div class="sidebar">
    <h3>Menu</h3>
    <ul>
        <li><a asp-action="Index" asp-controller="Home" id="navHome">Trang chủ</a></li>
        <li><a asp-action="Setting" asp-controller="Account" class="navSetting">Thông tin cá nhân</a></li>
        <li><a asp-action="Security" asp-controller="Account" id="navSecurity">Bảo mật</a></li>
        <li><a asp-action="Index" asp-controller="Home" id="logoutButton">Đăng xuất</a></li>
    </ul>
</div>
