<div class="sidebar">
    <h2>Quản lý</h2>
    <ul>
        <li><a asp-controller="Manager" asp-action="Customer">Quản lý Tài khoản</a></li>
        <li><a asp-controller="Manager" asp-action="Product">Quản lý Sản Phẩm</a></li>
        <li><a href="Statistics.html">Thống kê</a></li>
    </ul>
</div>