@{
    ViewData["Title"] = "Mỳ cay Hot Hot - Thanh Toán";
    Layout = null; // Sử dụng layout mặc định"
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/paymentbycod.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <div class="success-container">
        <div class="success-icon">&#x2714;</div>
        <h1 class="success-title">Đơn Hàng Đang Được Xử Lý!</h1>
        <p class="success-message">Cảm ơn quý khách đã ủng hộ.</p>
        <a asp-controller="Home" asp-action="Index" class="back-btn">Quay Lại Trang Chủ</a>
    </div>

</body>